.h5p-bpmn-js-canvas {
  height: 700px;
}

.h5p-bpmn-js-description {
  margin: 1em;
}

.h5p-bpmn-download-diagram-button i.fa, .h5p-bpmn-download-svg-button i.fa {
  margin-right: 0.5em;
}

.h5p-bpmn-js-canvas .zoom-controls {
  position: absolute;
  right: 20px;
  bottom: 90px;
}

.h5p-bpmn-js-canvas .zoom-controls .zoom-control {
  display: block;
  font-size: 1.25em;
  padding: 0.33em 0.5em;
  margin: 0.25em 0;
  cursor: pointer;
  border: 1px solid #ccc;
  z-index: 100;
  text-align: center;
  box-shadow: 0px 0px 4px #eaeaea;
  user-select: none;
  background-color: #fafafa;
}

.h5p-bpmn-js-canvas .zoom-controls .zoom-control.reset {
  margin-bottom: 0.75em;
}

.h5p-bpmn-js-canvas .zoom-controls .zoom-control:hover {
  color: #ff7400;
  box-shadow: 0px 0px 6px #cecece;
}
